html,
body {
  height: 100%;
}

#pseudo-root {
  overflow: hidden;
  height: 100%;
}
#pseudo-root > div {
  height: 100%;
}

body {
  margin: 0px;
}

.speech-bubble {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  background-color: #ccc;
  font-size: 14px;
  position: relative;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-right-color: #ccc;
  border-left: 0;
  border-bottom: 0;
  margin-top: 0.5px;
  margin-left: -7px;
}