.game-summary > * {
	min-width: 0;
}

.profile-pic {
	width: 1.5em;
	height: 1.5em;
	margin: 0.2em;
}

.game-details-container > * {
	margin: 0.2em;
}

.game-appbar > div {
	width: 100%;
}

body {
	overscroll-behavior-y: contain;
	overflow-x: hidden;
}
