body {
	margin: 0px;
	font-family: Roboto;
}

html,
body,
#app,
#app > div {
	height: 100%;
}

.MuiTypography-root {
	font-family: "cabin" !important;
}

@media screen and (max-width: 900px) {
	#desktopOnlyInput {
		display: none;
	}
}

.chat-channel-input > .MuiInputBase-root {
	padding: 7.5px 9px;
}
