name: Deploy

on:
    push:
        branches: ["master", "beta"]

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2
            - name: Extract branch name
              run: echo "BRANCH_NAME=$(echo ${GITHUB_REF##*/})" >> ${GITHUB_ENV}
            - name: Create .ssh directory
              run: mkdir ${HOME}/.ssh && chmod 700 ${HOME}/.ssh
            - name: Copy SSH key for iBrave
              run: ( echo "${{ secrets.IBRAVE_SSH_KEY }}" > ${HOME}/.ssh/id_rsa ) && chmod 600 ${HOME}/.ssh/id_rsa
            - name: Copy SSH host key for iBrave
              run: ( echo "${{ secrets.IBRAVE_SSH_HOST_KEY }}" >> ${HOME}/.ssh/known_hosts ) && chmod 600 ${HOME}/.ssh/known_hosts
            - name: Build release
              working-directory: web-app
              run: docker-compose run sample yarn build
            - name: Sync release to iBrave
              run: rsync -a --delete web-app/ oort.se@ssh.ibrave.io:public_html/diplicity-${BRANCH_NAME}/
