
name: Deploy

on:
  push:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Set up GoogleCloudPlatform
      uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        service_account_email: ${{ secrets.GCP_SA_EMAIL }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true
    - name: Install App Engine Go
      run: gcloud components install app-engine-go
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Pregenerate assets
      run: go generate
    - name: Deploy service
      run: gcloud --project dipact app deploy    
