name: Lint web app
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: yarn --cwd ./packages/web-app install -g --dev
      - name: Run ESLint
        run: yarn --cwd ./packages/web-app run lint