name: Test coverage web app
on: push
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Install modules
        run: yarn --cwd ./packages/web-app install
      - uses: ArtiomTr/jest-coverage-report-action@v2.0-rc.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          working-directory: packages/web-app
          test-script: yarn run test-coverage-ci
          package-manager: yarn
          threshold: 10
          annotations: none
          skip-step: install
